/* define color palette */
:root {
  --primary-color: #124e66; /* deep ocean blue */
  --secondary-color: #2e3944; /* slate gray */
  --accent-color: #e89b4a; /* warm amber */
  --bg-dark: #212a31; /* dark charcoal */
  --bg-muted: #748d92; /* muted slate blue */
  --bg-light: #d3d9d4; /* light cool gray */
  --light-gray: #f4f4f4; /* off-white */
  --medium-gray: #5b6b73; /* medium gray-blue */
  --dark-accent: #1b2a34; /* rich teal */
  --text-light: #ffffff; /* white */
  --text-dark: #000000; /* black */
  --muted-gray: #b0b7b2;
  --extra-light-gray: #e8ecee; /* very light gray, almost white */
  --soft-gray: #c7ced1; /* soft gray, slightly lighter than medium-gray */
  --deep-gray: #3f4a52; /* deeper gray, between slate gray and dark charcoal */
}

/* navbar */
.navbar-dark {
  background-color: var(--bg-dark);
}

.navbar-brand {
  color: var(--text-light);
}

.custom-primary-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.custom-primary-btn:hover,
.custom-primary-btn:focus {
  background-color: darken(var(--primary-color), 10%);
  border-color: darken(var(--primary-color), 10%);
  color: var(--text-light);
}

.custom-primary-btn:disabled {
  background-color: var(--primary-color);
  color: var(--text-light);
  border-color: var(--primary-color);
  opacity: 0.65;
  cursor: not-allowed;
}

.custom-secondary-btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.custom-secondary-btn:hover,
.custom-secondary-btn:focus {
  background-color: darken(var(--secondary-color), 10%);
  border-color: darken(var(--secondary-color), 10%);
  color: var(--text-light);
}

.custom-success-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-light);
}

.custom-success-btn:hover,
.custom-success-btn:focus {
  background-color: #1b647a; /* slightly lighten on hover */
  border-color: #1b647a;
  color: var(--text-light);
}

.custom-success-btn:active {
  background-color: #144b5e; /* slightly darken on active press */
  border-color: #144b5e;
}

.custom-icon-btn {
  color: var(--text-light);
  border: none;
  background: none;
}

.custom-icon-btn:hover,
.custom-icon-btn:focus {
  color: var(--bg-muted);
}

.custom-icon-btn:disabled {
  color: var(--secondary-color);
  opacity: 0.5;
}

.load-more-btn {
  position: absolute;
  bottom: 0;
}

.admin-icon-btn {
  color: rgb(200, 0, 0);
  border: none;
  background: none;
}

.admin-icon-btn:hover,
.admin-icon-btn:focus {
  color: rgb(150, 0, 0);
}

.admin-icon-btn:disabled {
  color: rgb(100, 100, 100);
  opacity: 0.5;
}

.custom-outline-primary-btn {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.custom-outline-primary-btn:hover,
.custom-outline-primary-btn:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-light);
}

.custom-outline-primary-btn:disabled {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  opacity: 0.65;
  cursor: not-allowed;
}

.custom-outline-secondary-btn {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.custom-outline-secondary-btn:hover,
.custom-outline-secondary-btn:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-light);
}

.custom-outline-secondary-btn:disabled {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  opacity: 0.65;
  cursor: not-allowed;
}

.custom-outline-contrast-btn {
  background-color: transparent;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.custom-outline-contrast-btn:hover,
.custom-outline-contrast-btn:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--text-light);
}

.custom-outline-contrast-btn:disabled {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
  opacity: 0.65;
  cursor: not-allowed;
}

/* Form control styles */
form-control {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-muted);
}

.form-label {
  color: var(--text-dark);
}

/* this is because labels were invisible when not in focus */
.form-floating label {
  color: grey;
}

.input-focus-muted:focus {
  border-color: var(--bg-muted);
  box-shadow: 0 0 0 0.2rem rgba(116, 141, 146, 0.25); /* try to mimic default */
  outline: none;
}

/* cards */
.card {
  background-color: var(--bg-light);
  color: var(--text-light);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.card-title {
  color: var(--text-light);
}

.card-text {
  color: var(--text-light);
}

/* template card styling */
.template-card {
  width: 100%;
  aspect-ratio: 8 / 11;
  background-color: var(--bg-muted);
  position: relative;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
  cursor: pointer; /* changes cursor to a clicker */
}

/* to make cards appear like buttons being pressed */
.template-card:hover {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.template-card:focus {
  outline: none;
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

/* for thumbnails */
.template-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

/* featured card for first card */
.featured-card {
}

.product-info {
  position: relative; /* allow child elements to be positioned */
  width: 68%;
  height: auto;
}

.product-info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  ); /* gradient effect for better text readability */
  z-index: 1;
}

.overlay-text {
  z-index: 2; /* overlayed on top of gradient */
  color: var(--text-light);
}

.attribution-link {
  bottom: 5px;
  right: 10px;
  font-size: 0.6rem;
  color: var(--bg-light);
  text-decoration: none;
  z-index: 3;
}

.attribution-link:hover {
  color: var(--text-light);
}

h1.display-3 {
  font-size: 3rem;
  margin-left: 9%;
}

.dropdown-toggle-no-caret::after {
  display: none !important;
}

.recent-templates-container {
  background-color: var(--muted-gray);
  /* border-top-right-radius: 0.5rem; */
}

.home-page-crawl {
  background-color: var(--bg-light);
}

.tabs-container {
  background-color: var(--bg-dark);
  border-radius: 0rem;  
}

.nav-tabs .nav-link.active {
  background-color: var(--dark-accent); 
  color: var(--text-light); 
  /* border: none; */
  border-radius: 0rem;  
}
